<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row">
          
          <!-- Single Advisor-->
          
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="https://i.ibb.co/BwyHmPf/2784-xl-0v-Fwu-F.jpg" alt="">
                <!-- Social Info-->
            
            </div>
            <!-- Team Details-->
                <p class="cottage-location">
                    Vrhpolje, Ljubovija <i class="material-icons">location_on</i>
                </p>
            <div class="single_advisor_details_info">
                <h2>Kutak na drini</h2>
                <p class="designation">
                    20 <i class="material-icons">people</i>
                    <br />
                    6 <i class="material-icons">bed</i>
                    
                </p>
                <div style="display: flex;">
                   <a href="/cottageCalendar"> <span class="material-icons">today</span></a><h6>Kalendar zauzetosti</h6>
                </div>
                <div>
                    <p class="owner-options-tag"></p>
                <p class="owner-options" >
                    <a href="/addTerminCottage"><i class="material-icons">more_time</i> <h6>Dodaj slobodan termin</h6></a>
                    <a href="/addActionCottage"><i class="material-icons">add_alert</i><h6>Dodaj akciju</h6></a>
                    <a href="/editCottage"><i class="material-icons">edit</i> <h6>Izmeni</h6></a>
                    <a href="/deleteCottage"><i class="material-icons">delete</i><h6>Ukloni</h6></a>

                </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="https://i.imgur.com/KZpuufK.jpg" alt="">
                <!-- Social Info-->
            
            </div>
            <!-- Team Details-->
                <p class="cottage-location">
                    Kosmaj, Beograd <i class="material-icons">location_on</i>
                </p>
            <div class="single_advisor_details_info">
                <h2>Vikendica Kosmaj sa bazenom</h2>
                <p class="designation">
                    12 <i class="material-icons">people</i>
                    <br />
                    4 <i class="material-icons">bed</i>
                    
                </p>
                <div style="display: flex;">
                   <a href="/cottageCalendar"> <span class="material-icons">today</span></a><h6>Kalendar zauzetosti</h6>
                </div>
                <div>
                    <p class="owner-options-tag"></p>
                <p class="owner-options" >
                    <a href="/addTerminCottage"><i class="material-icons">more_time</i> <h6>Dodaj slobodan termin</h6></a>
                    <a href="/addActionCottage"><i class="material-icons">add_alert</i><h6>Dodaj akciju</h6></a>
                    <a href="/editCottage"><i class="material-icons">edit</i> <h6>Izmeni</h6></a>
                    <a href="/deleteCottage"><i class="material-icons">delete</i><h6>Ukloni</h6></a>

                </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="https://i.ibb.co/5KM0GdF/2586-xl-a-BZWQ4.jpg" alt="">
                <!-- Social Info-->
            
            </div>
            <!-- Team Details-->
                <p class="cottage-location">
                    Vrdnik, Novi Sad <i class="material-icons">location_on</i>
                </p>
            <div class="single_advisor_details_info">
                <h2>Vila Ellena</h2>
                <p class="designation">
                    10 <i class="material-icons">people</i>
                    <br />
                    3 <i class="material-icons">bed</i>
                    
                </p>
                <div style="display: flex;">
                   <a href="/cottageCalendar"> <span class="material-icons">today</span></a><h6>Kalendar zauzetosti</h6>
                </div>
                <div>
                    <p class="owner-options-tag"></p>
                <p class="owner-options" >
                    <a href="/addTerminCottage"><i class="material-icons">more_time</i> <h6>Dodaj slobodan termin</h6></a>
                    <a href="/addActionCottage"><i class="material-icons">add_alert</i><h6>Dodaj akciju</h6></a>
                    <a href="/editCottage"><i class="material-icons">edit</i> <h6>Izmeni</h6></a>
                    <a href="/deleteCottage"><i class="material-icons">delete</i><h6>Ukloni</h6></a>

                </p>
                </div>
              </div>
            </div>
          </div>
         
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="https://i.ibb.co/vBsNmHc/2551-xl-Boi-PDY.jpg" alt="">
                <!-- Social Info-->
            
            </div>
            <!-- Team Details-->
                <p class="cottage-location">
                    Petrovaradin, Fruska Gora <i class="material-icons">location_on</i>
                </p>
            <div class="single_advisor_details_info">
                <h2>Vikendica Kućerak</h2>
                <p class="designation">
                    12 <i class="material-icons">people</i>
                    <br />
                    4 <i class="material-icons">bed</i>
                    
                </p>
                <div style="display: flex;">
                   <a href="/cottageCalendar"> <span class="material-icons">today</span></a><h6>Kalendar zauzetosti</h6>
                </div>
                <div>
                    <p class="owner-options-tag"></p>
                <p class="owner-options" >
                    <a href="/addTerminCottage"><i class="material-icons">more_time</i> <h6>Dodaj slobodan termin</h6></a>
                    <a href="/addActionCottage"><i class="material-icons">add_alert</i><h6>Dodaj akciju</h6></a>
                    <a href="/editCottage"><i class="material-icons">edit</i> <h6>Izmeni</h6></a>
                    <a href="/deleteCottage"><i class="material-icons">delete</i><h6>Ukloni</h6></a>

                </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb">
                  <i class="material-icons" style="color: whitesmoke; font-size: 7em;padding-bottom: 60px;">add_business</i>                <!-- Social Info-->
                </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h2>Dodaj novu vikednicu</h2>
              </div>
            </div>
          </div>
        </div>
      </div>