.mainCard {
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #f3f3f3;
}

.mainCard mat-card-title {
    text-align: center;
    margin: 20px;
}

.form {
    margin-left: 130px;
}

.inputField {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    margin: 10px;
}

.inputField textarea {
    height: 60px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.buttons button {
    width: 125px;
}

#return {
    margin-right: 20px;
}

.text-danger {
    font-size: smaller;
    margin-top: 5px;
}
