<div class="">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                   <div class="profile">
                        <div class="display-f-center mt-3">
                            <img src="https://i.imgur.com/LZ1Xa9r.jpeg" alt="Circle Image" class="img-raised rounded-circle  img-fluid" id="profileImage">
                        </div>
                        <div class="name">
                            <h6 class="display-f-center" id="instructorName">{{instructor.name + " " + instructor.lastName}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="description text-center" id="Bio">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum cumque neque necessitatibus deserunt, ad dolorum illo soluta? Dolorem ducimus sint soluta praesentium quidem nisi harum rem cupiditate debitis, quis veniam!</p>
                    </div>
                </div>
            </div>
    
      <div class="container bg-light">
        <div class="col-md-12  text-center">
          <a routerLink="/editInstructor/{{instructor.id}}" routerLinkActive="active">
            <button mat-raised-button color="primary">Izmena podataka</button>
          </a>
        </div>
      </div>

    
        </div>
      <div class="row" id="adventureRow">
        <div *ngFor="let a of adventures">
          <div *ngIf="!a.deleted">
            <div id="{{a.id}}" class="col-md-12"><app-adventure-card (OnAdventureDeleted)="OnAdventureDeleted($event)" adventureId="{{a.id}}"></app-adventure-card></div>
          </div>          
        </div>
        <div *ngIf="isInstructor">
          <a routerLink="/adventureAddNew/{{instructorId}}" routerLinkActive="active">
      
            <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
              <div class="cardAddNew p-4">
                  <div class=" image d-flex flex-column justify-content-center align-items-center">
                    
                    <mat-icon class="icon-display">library_add</mat-icon>
                    
                    <div class="AddNewText">
                      Dodaj novu avanturu
                    </div>
                  </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>

