<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white mb-5">
                
                <div class="card-body" style="overflow-y: scroll; height:600px;">
                    <ul class="list-unstyled reservations-list" *ngIf="reservations != undefined && reservations.length > 0; else elseblock">
                        <li class="position-relative booking reservation-card" *ngFor="let reservation of reservations">
                            <div class="media">
                                <div class="media-body">
                                    <div class="mb-3 d-flex">
                                        <span class="bg-light-blue mr-auto">{{reservation.id}}</span>
                                    </div>
                                    <div class="mb-3 d-flex" [ngSwitch]="reservation.reservationStatus">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Status:</span>
                                        <span *ngSwitchCase="'ON_WAIT'" class="bg-light-blue ml-auto">Na čekanju</span>
                                        <span *ngSwitchCase="'ACTIVE'" class="bg-light-blue ml-auto">Aktivna</span>
                                        <span *ngSwitchCase="'CANCELED'" class="bg-light-blue ml-auto">Otkazana</span>
                                        <span *ngSwitchCase="'IN_PROCESS'" class="bg-light-blue ml-auto">U procesu</span>
                                        <span *ngSwitchCase="'ENDED'" class="bg-light-blue ml-auto">Završena</span>
                                        
                                    </div>
                                    <div class="mb-3 d-flex">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Datum rezervacije:</span>
                                        <span class="bg-light-blue ml-auto">{{reservation.getStartDateString()}} - {{reservation.getEndDateString()}}</span>
                                    </div>
                                    <div class="mb-3 d-flex">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Ukupna cena:</span>
                                        <span class="bg-light-blue ml-auto">$ {{reservation.totalPrice}}</span>
                                    </div>
                                    <div class="mb-5 d-flex">
                                        <span class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0">Klijent:</span>
                                        <span class="bg-light-blue ml-auto">{{reservation.clientId}}</span>
                                    </div>
                                    <div  [ngSwitch]="reservation.reservationStatus">
                                        <div *ngSwitchCase="'ON_WAIT'" >
                                            <div class="btn-gray">Odbaci</div>
                                            <div class="btn-gray">Prihvati</div>
                                        </div>
                                        <div *ngSwitchCase="'ACTIVE'"  >
                                            <div class="btn-gray">Otkaži</div>
                                            <div class="btn-gray" (click)="addNewReservation(reservation.offerId,reservation.clientId)">Dodaj novu rezervaciju</div>
                                        </div>
                                        <div *ngSwitchCase="'IN_PROCESS'" class="btn-gray" (click)="addNewReservation(reservation.offerId,reservation.clientId)" >
                                            Dodaj novu rezervaciju
                                        </div>
                                        <div *ngSwitchCase="'ENDED'" class="btn-gray" (click)="sendReservationReport(reservation.id,reservation.clientId)">
                                            Popuni izvestaj
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
    
                    </ul>
                    <ng-template #elseblock>
                        <h2>Još uvek ne postoje rezervacije... :(</h2>
                    </ng-template>
                </div>
            </div>
    
        </div>
    </div>
    </div>