<div [ngSwitch]="ownerType">
    <span *ngSwitchCase="'C'">Odaberite vikendicu:</span>
    <span *ngSwitchCase="'B'">Odaberite brod:</span>
</div>

<select [ngModel]="selectedOffer" *ngIf="offers != null && offers.length > 0" (ngModelChange)="onChange($event)">
    
    <option value="all" selected="selected">
        Sve
    </option>
    <option *ngFor="let offer of offers" [value]="offer.id">    
        {{offer.name}}
    </option>
</select>
<app-reservations-list-view [reservations]="reservations" [ownerType]="ownerType"></app-reservations-list-view>